.titleCenter {
    /*width: 50%;
    margin-left: 25%;
    margin-right: 25%;*/
    text-align: center;
}

.form-group {
   padding-left: 20px;

}

.clickyThings {
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 20px;
}

.grid{
    margin-bottom: 15px;
}

.stuffandthings {
   margin-top: 15px;
   width: 100%;
}

.btn {
    width: 120px;
    margin-top: 1px;
}


.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}