/*.titleCenter {
    /*width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}*/

.form-group {
   padding-left: 20px;
   padding-right: 20px;

}
/*
.list-group {
  width: 100%;
   padding-left: 20px;
   padding-right: 20px;

}*/

.clickyThings {
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 50%;
    /*margin-right: 25%;*/
    /*width: 100%;*/
    align-content: center;
}

/*.grid{
    margin-bottom: 15px;
    width: 50%;
}*/

#pageNumAdjust {
  margin-top: 11px;
}

.stuffandthings {
   margin-top: 15px;
   width: 100%;
}


.col-xs-12 {
text-align: center;
} 

.col-sm-12 {
text-align: center;
}

.btn {
    width: 240px;
    margin-top: 10px;
    margin-left: 10x;
    margin-right: 10px;
}

.pageNumber {
  margin-top: 5px;
}

/*.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}*/